@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:ital,wght@1,300&family=Quicksand&display=swap');
body {
  margin: 0;
  font-family: "Quicksand";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}
a:hover{
  color: crimson;
  zoom: 1.2;
  transform: scale(1.2);
  transition: transform 1s;


}

/* App */

.App-root{
  /* background-color: aqua; */
  height: 100vh;
  max-width: 600px;
  margin: auto;

}

.App-content{
  height: 90vh;
}

/* Nav */
.Nav-root{
  height: 10vh;
  /* background-color: rgba(221, 213, 213, 0.774); */
  display: flex;
  padding-right:20px;
  padding-left:20px;
  justify-content: space-between;
  border-bottom: 1px solid #b5b5b5;
}

.Nav-title{
  align-self: center;
  width: 70%;
  color: #7fbecc;
  
}

.Nav-links{
  width: 30%;
  align-self: center;
  display: flex;
  justify-content: space-around;
}




/* Home */

.Home-root{
  /* background-color: burlywood; */
  height: 100%;
}


/* CreateBlog */

.CreateBlog-root{
  /* background-color: rgb(41, 146, 81); */
  height: 100%;
}

.blog-container{
  display: grid;
}

#submit-button{
  background-color: blue;
  border-radius: 10px;
}



