body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App */

.App-root{
  /* background-color: aqua; */
  height: 100vh;
}

.App-content{
  height: 93vh;
}

/* NAv */
.Nav-root{
  height: 7vh;
  background-color: rgba(29, 27, 27, 0.774);
}

/* Home */

.Home-root{
  background-color: burlywood;
  height: 100%;
}


/* CreateBlog */

.CreateBlog-root{
  background-color: rgb(41, 146, 81);
  height: 100%;
}




